.feedback-personal-pre-block    
    
  A
    font-size:                   1.1em  
    font-weight:                 bold

//------------------------------------------------------------------------------



.contents_of_feedback

  width:                         80%
  
  padding:                       5% 3% 7% 15%

  background:                    asset_url('form/form_fond.png')
  +background-size(100% 100%)        
  
  
  A     
    
    text-decoration:             none
    text-align:                  left        
  
    font-size:                   92%
    font-weight:                 bold                   
    
    
  A:active
  
    color: white  
    
  


//------------------------------------------------------------------------------

.feed-back-page

  H3
    color:                       $dark-green-text         
    
    
  .block-nav-menu-room-up
  
    width:                       95%    
    margin-left:                 25%
    
    padding:                     0
  
  
    #paper-nav-menu-room      
    
      //width:                     60%
      
      padding:                   0
      padding-right:             5%
    
      background:                transparent
      font-size:                 85%        
      
      text-align:                right
      
      
      A
        display:                 block



.feedback-personal-body

  font-size:                     0.9em
  
  

.feedback-personal-image

.feedback-personal-image-left

.feedback-personal-image-right

.feedback-personal-prompt




.feedback_recomend_part


.whose_partner
