.block_fond.paragraphs_separated.center-content
  -#=flash[:error]
  
  %div{class:'div'}
    Чтобы записаться на онлайн-консультацию, введите 
    
    
  -#  
    Ваш Email. 
  
    %div
      После чего Вам будет предложено выбрать день и время встречи.
    
    
  #paper_user_personal_consult
    #form.normal-font-size
      =render partial: 'form'  
