.block_fond.paragraphs_separated.center-content

  
  %div
    Чтобы записаться на консультацию, введите Ваш Email. 
  
  %div
    После чего Вам будет предложено выбрать день и время встречи.
    
    
  #paper_user_personal_consult
    #form.normal-font-size
      =render partial: 'form'  
