%section

  
  .block_fond      
    -#- if @article.number == 1 
      %h3
        Приветствуем Вас!
    %h4
      Приветствуем Вас! 
      %br/
      На какой вопрос Вы хотите найти ответ:

    #-------------------------------------------------------------------------------    

    #site_motto

      %br/
      Как с нашей помощью разобраться, какой партнер Вам подходит,
      как найти свою любовь среди ближайшего окружения или среди тысяч других людей на сайтах знакомств?
      %br/
      %br/    
      
      Как сделать отношения с партнером счастливыми?
      %br/
      %br/  
      
      Как разобраться в своей психологической модели?
      %br/
      %br/  
      
      Или же как протестировать психологическую модель ребенка, подростка, коллеги, подчиненного?
      %br/
      %br/  

    #-------------------------------------------------------------------------------
  
  #preamble_way
    - @preamble_element_way.each_with_index do |pre, i|
      .block_fond 
        =pre.html_safe
      
        #-------------------------------------------------------------------------------      

        - if i == @preamble_element_way.count - 1
        
          %br/
          %br/
        
          #preamble_article_title
            %section
              .form_or_read_all
                %b
                  = @preamble_element_form_or_read_all.body.html_safe
                       
          %br/   
    
    

