%section

     
  - if @article.number == 1 
    %h3
      Приветствуем Вас!

#-------------------------------------------------------------------------------    

  #site_motto

    Как с нашей помощью разобраться, какой партнер Вам подходит,
    как найти свою любовь среди ближайшего окружения или среди тысяч других людей на сайтах знакомств?
    %br/
    %br/    
    Как сделать отношения с партнером счастливыми?
    %br/
    %br/    
    Или же как разобраться в своей психологической модели?
    %br/
    %br/  

#-------------------------------------------------------------------------------

#preamble_way
  %h4
    Для этого:
  
  = @preamble_element_way.body.html_safe
  %br/
  
  %br/
  = image_tag('elements/slicer.png', alt: '--------------------', id: 'separator')               
  %br/
  %br/

#-------------------------------------------------------------------------------      

#preamble_article_title
  %section
    .form_or_read_all
      %b
        = @preamble_element_form_or_read_all.body.html_safe
    %br/
    

