- @title          = @title_tag

- @menu_up_item   = 'main'

- @page.title_tag = @article.title

  
- @contact = Contact.new                                               

#-------------------------------------------------------------------------------      

= flash[:echo_me]

- unless @info_msg.nil? and @info_msg == ''
  %h2 
    = @info_msg

#-------------------------------------------------------------------------------      

=render partial: 'preamble'

#-------------------------------------------------------------------------------      
    
           
.block_fond
  
  %br/
  =render partial: 'article'
     

  %section
    #paper
      #form.lead      
        %b
          = render partial: 'new_order_form'         
    
            
  %section      
    .article-author-link
      Автор:
      = link_to 'Психологически безопасные отношения', 'https://plus.google.com/111002677865823058693?rel=author', target: '_blank'      
      
    %br/
    %br/







