#paper-nav-menu-room
    
          
  -# If in DB  
  =link_to '/',  class: 'btn btn-link btn-large back-qw-button ' do
    ▪&nbsp;Участники   
  
  
  =link_to @nav_menu_room_show_off_in_base_link,  class: 'btn btn-link btn-large back-qw-button ', title: @show_off_in_base_menu_title do
    ▪ 
    =@show_off_in_base_menu_name
    %span.question-nav-menu-room    
      ?
      
    -#= image_tag('elements/slicer.png', alt: '--------------------', id: 'separator')               


  =link_to @link_to_feedbacks_sl,  class: 'btn btn-link btn-large back-qw-button ', target: '_blank', title: @recommendations_menu_title do
    ▪&nbsp;Рекомен&shy;дации    
    %span.question-nav-menu-room    
      ?    
    
          
  =link_to '/',  class: 'btn btn-link btn-large back-qw-button ', title: 'Записаться на психологическую консультацию' do
    ▪&nbsp;Консуль&shy;тация     
    %span.question-nav-menu-room    
      ?    
    
  =link_to @nav_menu_room_convers_link,  class: 'btn btn-link btn-large back-qw-button ', title: @convers_menu_title do
    ▪&nbsp;Собесед&shy;ники
    %span.question-nav-menu-room    
      ?        
    
    
  =link_to @nav_menu_room_requests_link,  class: 'btn btn-link btn-large back-qw-button ', title: @requests_menu_title do
    ▪&nbsp;Запросы    
    %span.question-nav-menu-room    
      ?        
    
               
    
