%meta{content: 'text/html; charset=UTF-8',               'http-equiv' => 'Content-Type'}/
%meta{content: 'width=device-width, initial-scale=1',     name: 'viewport'}

%meta{content: 'mi.creator@yahoo.com', name: 'author'}/

%meta{content: @page.keywords_meta,                       name: 'keywords'}/
%meta{content: @page.description_meta,                    name: 'description'}/

<meta name='yandex-verification' content='5b95cae2dd0c392c' />
<meta name="google-site-verification" content="t-GbPAWO89QEhj_o0RXH0DAbjSK3a4zpf8azzBFecuc" />

