.test-click-yes-button
  display             block
  margin-bottom:      10px 
  
  &:focus
    color:            $test-click-yes-button
        
    
.test-click-no-button    
  &:focus
    color:            $test-click-no-button
