.test-click-yes-button
  margin-right:          5%
  float:                 left  
  
  &:focus
    color:               $test-click-yes-button    
        
    
.test-click-no-button    
  &:focus
    color:               $test-click-no-button      
    
    
.test-click-yes-button, .test-click-no-button 
  font-weight:           bold

  &:focus
    outline:             none      
    
    
    
.back-qw-button
  font-weight:           bold
  
  &:focus
    color:               $blue-bootstrap
    text-decoration:     none
    
