- if @current_question_serial_number.to_i > 1
  .counter
    = @current_question_serial_number + ' / ' + @questions_amount



- if @question.advice != nil and @question.advice != ''
  #advice
    #paper
      .advice-text
        =@question.advice  
  %br/      



.lead
  =@question.title


= button_to 'Да',  @yes_params, class: 'btn btn-info btn-large test-click-yes-button'
= button_to 'Нет', @no_params,  class: 'btn btn-primary btn-large test-click-no-button'



