.msg-block

  P:before
    content:               none
  


.msg-new-in-conversation    
  
  #form
    padding:               0
    
    font-size:             1.1em    
    
    
    
.msg-sender  
  color:                   $gree-text-readable
  
  
  
.msg-text    
  margin-left:             10%    
  
  
  
.msg-type  
  color:                   $lighter-brown
  
  
  
.to-msg-link
    
  A
    color:                 $gree-text-readable  
    
    &:hover
      color:               $gree-text-readable-hover
