.lead
  Вы хотите, чтобы другие пользователи видели Вашу анкету?

= button_to 'Да',  @yes_want_to_db,        class: 'btn btn-info btn-large test-click-yes-button'
= button_to 'Нет', @no_doesnt_want_to_db,  class: 'btn btn-primary btn-large test-click-no-button'
