= form_for [@user_from, @rq_fb_show], method: 'delete' do |f|
     
  = f.hidden_field :receiver,   value: @rq_fb_show.receiver
  = f.hidden_field :status,     value: 'no'
    
  
  = f.submit 'Отклонить', class: ' btn btn-large btn-block btn-info request-btn reject-btn '

