- @menu_up_item = 'contacts_show'



- unless @contacts.count == 0 


  - @conter = 1
  - @contacts.each_with_index do |contact, index|
  
    -# COLOR
    - @color = 'green'       if contact.group == 'GOOD GROUP'    
    - @color = 'saddlebrown' if contact.group == 'MIDDLE GROUP'    
    - @color = 'indigo'      if contact.group == 'BAD GROUP'   
      
    
    -#.white_border
    %article.contact-block{style: "margin-left: #{cycle('30px', '20px', '12px', '22px')};"}
       
      %strong
        .contact-square{style: "background-color: #{@color}; color: #{@color}; "}
          OO
        =contact.name        
      
      - if contact.image.url      
        .contact-image
          = image_tag contact.image.url      
  
      %address
        =contact.city + ', ' + contact.country
      
      .text-success
        =contact.birthday
      
      .lead
        =contact.about_info   
  
      .label.label-success.select_able
        =contact.email        
        
       
    
      %br/
      
      
      -#-if index == 1
      -#  %section
      -#    #form.lead
      -#      %b      
      -#        = render partial: 'consults/consult_form'
      
- else    
  
  .lead 
    -# Email или отложка:
    База создается. Зайдите повторно через несколько дней.
    
  =button_to 'На главную', '/', class: 'btn btn-success btn-large'   
-#______________________________________________________________________________  



-#%section
  #form.lead
    %b
      -#=render partial: 'new_consult_form' 


  
    







