.contact-square
  display:              inline-block
  margin-right:         10px
  padding-right:        5px
  
  width:                35px
  height:               40px
 
  background-color:     green
  
  border-radius:        5px
  
  font-size:            8px
  
  
  
.contact-square-info
  color:                white
  
  position:             absolute
  display:              inline-block
  
  //font-size:            70%  
  font-size:            15px
  
  
  
.contacts-examples-text
  color:                $lighter-brown
  font-size:            70%
  
  
  
.request-btn
   
  font-weight:        bold
  font-size:          90%
