#fond_text
  %h1
    =@page.title_tag

  %em
    =@page.em
    
  %section      
    .article-author-link
      =link_to 'Психологически безопасные отношения', 'https://plus.google.com/111002677865823058693?rel=author', target: '_blank'       
