%link{href: 'http://kindrelations.com/assets/application-0c81919370543ac9621adfdcf774a8eaa112aa93167e33e05cf6d4c033655f14.css', rel: 'prefetch'}/
%link{href: 'http://kindrelations.com/assets/application-0c81919370543ac9621adfdcf774a8eaa112aa93167e33e05cf6d4c033655f14.css.gz', rel: 'prefetch'}/

%link{href: 'http://kindrelations.com/assets/application-2f51c21af57e3641f2734b1a6bda5169d1bece65439fd4f379a261d79afa6bdd.js', rel: 'prefetch'}/
%link{href: 'http://kindrelations.com/assets/application-2f51c21af57e3641f2734b1a6bda5169d1bece65439fd4f379a261d79afa6bdd.js.gz', rel: 'prefetch'}/



%link{href: 'http://kindrelations.com/assets/bred-c61f10a528a1d976ac87b1e55cc8684126f3aa3412a1836da6f5d4771019c3fd.png', rel: 'prefetch'}/
%link{href: 'http://kindrelations.com/assets/blocks/paper100-31a339624ed0e743b92562014307bd92d76ee0745c2e7cfdef0c5d49349fa518.png', rel: 'prefetch'}/

%link{href: 'http://kindrelations.com/assets/favicon-7140dea57dccc2d0272e00a68af57165e766821b4140005f7b2ab079e4c050eb.ico', rel: 'prefetch'}/
%link{href: 'http://kindrelations.com/assets/favicon-7140dea57dccc2d0272e00a68af57165e766821b4140005f7b2ab079e4c050eb.ico.gz', rel: 'prefetch'}/



%link{href: 'http://kindrelations.com/assets/form/form_fond-693b1187ba04807214da1f3be9018c98d862552ce56ec70a2ddda18e11bb9418.png', rel: 'prefetch'}/
%link{href: 'http://kindrelations.com/assets/fond_main/forest_original-a95002f013f62ecadc59a3b474f637c88129d02a2c879f56c248249980f8caee.jpg', rel: 'prefetch'}/  

%link{href: 'http://kindrelations.com/assets/elements/slicer-89a1381cf8a228e55547f8b0b48a3bd9d05d85e8438f8dc50e9df0221fca3a5a.png', rel: 'prefetch'}/



%link{href: 'http://kindrelations.com/assets/google-analytics-07174845e076aa6a945f0083dbcacda148e40ee036800fb445adefa05abbd781.js', rel: 'prefetch'}/
%link{href: 'http://kindrelations.com/assets/google-analytics-07174845e076aa6a945f0083dbcacda148e40ee036800fb445adefa05abbd781.js.gz', rel: 'prefetch'}/




