.contents_of_feedback


  %h3
    Содержание:
    
    
  =link_to '#part1', class: ' btn btn-link btn-large ' do   
    Обратная связь - Часть 1

    
  =link_to '#part2', class: ' btn btn-link btn-large ' do  
    Обратная связь - Часть 2

    
  =link_to '#recomend', class: ' btn btn-link btn-large ' do  
    Рекомендации Вашему партнеру        
    
    
  =link_to '#down', class: ' btn btn-link btn-large ' do  
    Меню сайта
