=flash[:notice]


.k

  -#
    .contact-square{style: "background-color: #{@color}; color: #{@color}; ", title: @title_on_hover}
    
  -#  
    .contact-square{style: "background-color: #{@color}; color: #{@color}; "}
      OO
      .contact-square-info
        ?
  
    
  %span 
    .square{ class: @square_class }
      O
  %span{ class: 'square-symbol-info' }
    Ваш символ-квадратик
      
            
  %br/                      
  %br/
            
            
  .feedback-personal-body
    =@struct_info.html_safe
    =@level_info.html_safe
    
    
