- @menu_up_item = 'recommendations'

-#- @menu_up_item = 'feedback-room'recommendations
-#- @this_page_name = 'feedback-room'



- if flash[:res]
  #paper
    =flash[:res]
      
- if flash[:in_from_db_succes]
  #paper      
    =flash[:in_from_db_succes]
      

      
.block-nav-menu-room  
  -#%article.lead.info_msg
  =render partial: 'layouts/menu/navigation'                  
  %br/
  
  
  
        
.k

  -#
    .contact-square{style: "background-color: #{@color}; color: #{@color}; ", title: @title_on_hover}
    
  -#  
    .contact-square{style: "background-color: #{@color}; color: #{@color}; "}
      OO
      .contact-square-info
        ?
  
    
  %span 
    .square{ class: @square_class }
      O
  %span{ class: 'square-symbol-info' }
    Ваш символ-квадратик
      
            
  %br/                      
  %br/
            
            
  .feedback-personal-body
    =@struct_info.html_safe
    =@level_info.html_safe
    
    
