- @menu_up_item = 'requests'



- if flash[:res]
  #paper
    =flash[:res]
      
- if flash[:in_from_db_succes]
  #paper      
    =flash[:in_from_db_succes]
      
      
      
.k
  .room-titles
    Ваши запросы на общение
  
    - if @getted_rqs.count == 0 and @sent_rqs.count == 0
      будут отображаться здесь
  
  %br/



  - if @getted_rqs.count > 0
    %p
      %b
        Полученные:

    %br/
    .request_communic_block
      - @getted_rqs.each_with_index do |rq, i|

        - @user_from = @getted_rqs_from_users[i]
        - @rq        = rq 
  

        .request-who
          =@getted_rqs_from_users[i].name
        %br/
    
    
        - if rq.status == 'yes'  
          - status = 'Запрос Вами одобрен'
        - elsif rq.status == 'still'    
          - status = 'Запрос ожидает действия'
        - elsif rq.status == 'no'      
          - status = 'Запрос отклонен Вами'
        - elsif rq.status == 'stop'
          - status = 'Запрос отменен пользователем'        
    
        .request_communic_status  
          * #{status}
  
        - if rq.status == 'still'
          =render partial: 'requests_for_communications/request_incoming_agree'
          =render partial: 'requests_for_communications/request_incoming_reject'

        %hr

   




  - if @sent_rqs.count > 0
    %br/

    %p
      %b
        Отправленные:
        %br/
      
    - @sent_rqs.each_with_index do |rq, i|  
  
      .request-who
        =@sent_rqs_to_users[i].name

    
    
      - if rq.status == 'yes'  
        - status = 'Запрос одобрен'
      - elsif rq.status == 'still'    
        - status = 'Запрос ожидает действия'
      - elsif rq.status == 'no'      
        - status = 'Запрос отклонен'
      - elsif rq.status == 'stop'
        - status = 'Запрос отменен Вами'            
    
      .request_communic_status  
        * #{status}

      %hr
  
  

