.articles-block{ style: 'background-color: green; display: inline-block; height: 100px; float: right; color: white;' }
  - @articles.each do |article|
    = link_to "/articles/#{article.translit}" do
      %div
        =article.title

