.articles-block

  Наши статьи:
  %br/
  %br/

  - @articles.each do |article|
  
    = link_to "/articles/#{article.translit}#preamble_article_title" do
      %div
        =article.number.to_s + '. '
        =article.title
        
    = image_tag 'elements/slicer.png'    

