.articles-block

  - @articles.each do |article|
  
    = link_to "/articles/#{article.translit}" do
      %div
        =article.number.to_s + '. '
        =article.title
        
    = image_tag 'elements/slicer.png'    

