.k
  =@user.name.to_s + ' ' + @user.surname.to_s            

  - if flash[:answer_on_request]
    %article
      %section
        #note
          =flash[:answer_on_request].html_safe



  %h3
    Выберите собеседника
    - unless @conversations_msg_users_names
      (они будут отображаться здесь)  


    - else  
      - @conversations_msg_users_names.each_with_index do |conv_names, i|
        .to-msg-link
          %b
            =link_to conv_names, @root_path + 'messages/' + @conversations_msg_users_links[i], target: '_blank' 

