.convers-pre-block  


  - if flash[:answer_on_request]

    %article
      %section
        #note
          =flash[:answer_on_request].html_safe

    %br/      




  .room-titles
    .k
    
    - unless @show_feedbacks_users_names.count > 0 
      Участники сайта, с которыми вы взаимно открыли друг другу свои обратные связи, будут отображаться здесь



    - else
      
      Посмотреть обратную связь:
      %br/
      
      - @show_feedbacks_users_names.each_with_index do |conv_names, i|
        .blue-standart-link
        
          - if i < 5
          
            %br/
            %b
              =link_to conv_names, @root_path + 'feedbacks_open/' + @show_feedbacks_users_links[i], target: '_blank' 
              
              
          - else
              
            %br/
            =link_to 'Посмотреть всех', @nav_menu_room_convers_link, class: ' btn btn-large btn-block btn-info success-btn '
            участников сайта, с которыми вы взаимно открыли друг другу свои обратные связи
            - break            
            

