- @menu_up_item = 'room_see'



%a{ name: 'top' }


.k


  -#.block-nav-menu-room.block-nav-menu-room-up  
    =render partial: 'layouts/menu/navigation'                  
    %br/
  
  
  =render partial: 'any_room_body'
  
  
  
  -#.block-nav-menu-room.block-nav-menu-room-down  
    =render partial: 'layouts/menu/navigation_bottom'                    
