- @menu_up_item = 'room'
-#- @menu_up_item = 'contacts_show'      



.block-nav-menu-room  
  -#%article.lead.info_msg
  =render partial: 'layouts/menu/navigation'                  
  %br/



%article.contact-block{style: "margin-left: #{cycle('30px', '20px', '12px', '22px')};"}
  =render partial: 'rooms/feedback_personal'

%article.contact-block{style: "margin-left: #{cycle('30px', '20px', '12px', '22px')};"}
  =render partial: 'rooms/conversations_block'

%article.contact-block{style: "margin-left: #{cycle('30px', '20px', '12px', '22px')};"}
  =render partial: 'rooms/requests_block'
