- if flash[:answer_on_request]
  %article
    %section
      #note
        =flash[:answer_on_request].html_safe





%h3
  Ваши сообщения



%hr/
%hr/


%h3
  Ваши запросы на общение
  
  - if @getted_rqs.count == 0 and @sent_rqs.count == 0
    будут отображаться здесь
  
  
%br/

- if @getted_rqs.count > 0
  %p
    %b
      Полученные:

  .request_communic_block
    - @getted_rqs.each_with_index do |rq, i|

      - @user_from = @getted_rqs_from_users[i]
      - @rq        = rq 
  

      От #{@getted_rqs_from_users[i].name} 
      %br/
    
    
      - if rq.status == 'yes'  
        - status = 'Запрос Вами одобрен'
      - elsif rq.status == 'still'    
        - status = 'Запрос ожидает действия'
      - elsif rq.status == 'no'      
        - status = 'Запрос отклонен Вами'
      - elsif rq.status == 'stop'
        - status = 'Запрос отменен пользователем'        
    
      .request_communic_status  
        * #{status}
  
      - if rq.status == 'still'
        =render partial: 'request_incoming_agree'
        =render partial: 'request_incoming_reject'

      %hr

   




- if @sent_rqs.count > 0
  %br/

  %p
    %b
      Отправленные:
  - @sent_rqs.each_with_index do |rq, i|  
    К #{@sent_rqs_to_users[i].name} 
    %br/
    
    
    - if rq.status == 'yes'  
      - status = 'Запрос одобрен'
    - elsif rq.status == 'still'    
      - status = 'Запрос ожидает действия'
    - elsif rq.status == 'no'      
      - status = 'Запрос отклонен'
    - elsif rq.status == 'stop'
      - status = 'Запрос отменен Вами'            
    
    * #{status}
    %hr
  
  

