// Green 
$light-green-background:     #EBFFCC
$light-green:                #75AE5A
$bootstrap-green:            #5BB75B
$dark-green-text:            #164700
$opacity-dark-green-text:    #32601D
$gree-text-readable:         #2A8400
$gree-text-readable-hover:   #1B5400

$square_green:               #00a129



// Brown
$lighter-brown:              #5C3C16
$brown-yellow-light:         #F6F9CA
$dark-brown-text:            #341c00



// Red
$red-error:                  #D13939


//Blue
$blue_on_request_text:       #2F96B4
$blue-bootstrap:             #08C
$blue-bootstrap-shadow:      rgba(0, 136, 204, 0.75)
$blue-bootstrap-dark:        #005580   // link hover 
//$blue-bootstrap-half-white:  #94dbff
$main_motto:                 #0370CE   // Preamble


//Violet-Purple 
$square_violet:              #611d82



//Buttons
$test-click-yes-button:             #5BC0DE    // light blue
$test-click-no-button:              #04C       // blue

$want-to-db-after-test-button-yes:  #5BC0DE    // light blue
$want-to-db-after-test-button-no:   #5BB75B    // light green
