// Green 
$light-green-background:     #EBFFCC
$light-green:                #75AE5A
$dark-green-text:            #164700
$opacity-dark-green-text:    #32601D
$gree-text-readable:         #2A8400

// Brown
$lighter-brown:              #5C3C16
$brown-yellow-light:         #F6F9CA
$dark-brown-text:            #341c00

// Red
$red-error:                  #D13939

//Blue
$test-click-yes-button:      #04C
$test-click-no-button:       #5BC0DE

$blue_on_request_text:       #2F96B4
$blue-bootstrap:             #08C
