- @menu_up_item = 'qs'

- @title = @page.title_tag


=@info_msg
=button_to 'На главную', '/', class: 'btn btn-success btn-large'   

%section      
  .article-author-link
    Автор:
    =link_to 'Психологически безопасные отношения', 'https://plus.google.com/111002677865823058693?rel=author', target: '_blank'      

